*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $brand-main-color;
  font-family: $brand-font;
}

.test-class {
  width: 100%;
  height: 300px;
  background: grey;
  //border: 1px solid black;
}


//  MY CUSTOM GRID

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    $width: 100% / 12 * $i;
    flex: 0 0 $width;
    max-width: $width;
  }
}

//  END MY CUSTOM GRID

.none {
  display: none;
}

.display {
  display: block;
}

.main-container {
  display: flex;
}

.aside-bar {
  width: 183px;
  background: $sidebar-background;
  color: white;
  height: 100vh;
  z-index: 22;
  position: fixed;
  overflow: scroll;
}

.side-container {
  width: 100%;
  padding: 0 0 0 183px;
  height: 200vh;
  font-family: $brand-font;
  color:$topbar-font-color;
  //flex-direction: row-reverse;
}

.top-bar-nav {
  padding-right: 183px;
  width: 100%;
  height: 60px;
  position: fixed;
  background: white;
}

.main-section {
  width: 100%;
  display: block;
}

.wrapper-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 810px)
{
  .top-bar-nav {
    display: none;
  }
}

@media (max-width: 480px)
{
  .aside-bar {
    width: 100%;
    height: auto;
    background: $sidebar-background;
    color: white;
    z-index: 22;
    position: fixed;
    //height: 100vh;
  }

  .side-container {
    padding: 100px 0 0 0;
  }

  @keyframes showNavBar {
  from {height: 85.5px;}
  to {height: 100vh;}
  }

  .side-bar-active {
    animation: showNavBar 600ms ease-in-out both;
    //height: 100vh;
  }
}


@media(max-width: 386px) {
  @include grid('sm');
}

@media(min-width: 444px) {
  @include grid('md');
}

@media(min-width: 780px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}
