/* Colors */
$paragraph-color: #000000;
$brand-main-color:  RGBA(0,0,0, 0.08);
$sidebar-background: #1e1e1e;
$sidebar-font-color: RGBA(255, 255, 255, 0.5);
$topbar-font-color: RGBA(0, 0, 0, 0.7);
$topbar-font-hover: RGBA(0, 0, 0, 0.95);
$topbar-hover-backgr: RGBA(0, 0, 0, 0.1);
$li-hover: RGB(50, 50, 50);
$button-hover: rgb(255,165,0);
$sidebar-scroll: RGBA(255, 255, 255, 0.1);


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */

$brand-font: 'Abel', sans-serif;
$fancy-font: 'Pacifico', cursive;


//$paragraph-font: "Open Sans", Helvetica, Arial;
