@import '../variables';


.double-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-box{
  display: flex;
  height: 45px;
  border: 1px solid;
  border-color: $topbar-font-color;
}

.form-box input{
  border-width: 0;
  border-style: none;
  height: 43px;
  width: 130px;
  margin: 0;
}

.form-box input:first-child{
  border-right: 1px solid;
  border-color: $topbar-font-color;
}
