@import '../variables';


.form-box{
  display: flex;
  height: 45px;
  border: 1px solid;
  border-color: $topbar-font-color;
}

.form-box input{
  border-width: 0;
  border-style: none;
  height: 43px;
  width: 130px;
  margin: 0;
}

.form-box input:first-child{
  border-right: 1px solid;
  border-color: $topbar-font-color;
}

@media (max-width: 720px)
{
  .form-box{
    display: flex;
    height: 30px;
    border: 1px solid;
    border-color: $topbar-font-color;
  }

  .form-box input{
    border-width: 0;
    border-style: none;
    height: 28px;
    width: 90px;
    margin: 0;
  }
}
