@import '../variables';

.link-list ul {
  padding: 0;
}

.link-list li {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 40px;
  padding: 10px 0 10px 0;
  border-top: 0.5px solid;
  border-color: $topbar-font-color;
  width: 600px;
}

.link-list li:hover {
  background: $topbar-hover-backgr;
}

.link-list li:last-child {
  border-bottom: 0.5px solid;
  border-color: $topbar-font-color;
}

.link-icons i {
  margin: 0 7px 0 7px;
}

.link-icons {
  color:white;
}

.link-list li:hover > .link-icons {
  color: $topbar-font-color;
  cursor: pointer;
}

.link-list .fa-trash-alt:hover {
  color: #000;
}

.link-list .fa-copy:hover {
  color: #000;
}

@media (max-width: 980px)
{
  .link-list li {
    height: 60px;
    line-height: 40px;
    padding: 10px 0 10px 0;
    border-top: 0.5px solid;
    border-color: $topbar-font-color;
    width: 400px;
  }

  .link-icons {
    color: $topbar-font-color;
  }
}

@media (max-width: 720px)
{
  .link-list li {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
    padding: 15px 0 15px 0;
    border-top: 0.5px solid;
    border-color: $topbar-font-color;
    width: 280px;
  }

  .link-list li span {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 400px)
{
  .link-list li {
    width: 220px;
  }
}
