@import '../variables';

.personal-data-form{
  display: flex;
  //height: 600px;
  justify-content: center;
}

.personal-data-form ul{
  padding: 0;
  list-style: none;

}

.personal-data-form li{
  display: flex;
  justify-content: space-between;
  height: 45px;
  line-height: 26px;
  width: 500px;
}

.personal-data-form li span{
  margin: 10px 0 10px 0;
  font-weight: 700;
}
