@import '../variables';

.sidebar-ul{
  padding: 0 0 40px 0;
  border-bottom: 1px solid;
  border-color: $sidebar-font-color;
}
.sidebar-li{
  margin: 10px 0 10px 0;
  padding: 0 0 0 18px;
  color: white;
  background: $sidebar-background;
  list-style: none;
  height: 35px;
  line-height: 35px;
  font-family: $brand-font;
  color: $sidebar-font-color;
}
.sidebar-li:hover{
  border-left: 4px solid orange;
  padding: 0 0 0 14px;
  background: $li-hover;
  color: RGBA(255, 255, 255, 0.8);
}
.sidebar-li span{
  margin-right: 20px;
}
