@import '../variables';

.topbar-ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $topbar-font-color;
}
.topbar-li{
  padding: 0 20px 0 20px;
  color: $topbar-font-color;
  list-style: none;
  height: 60px;
  line-height: 60px;
  font-family: $brand-font;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: $topbar-font-color;
}

.topbar-li:hover{
  color: $topbar-font-hover;
  background: $topbar-hover-backgr;
  cursor: pointer;
}
.topbar-li span{
  margin: 0 8px 0 8px;
}
